In [1]:
# Import the libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
from pickle import dump
from pickle import load

In [2]:
Claimants = pd.read_csv(r"C:\Users\Mou\Desktop\finity\homework\today\claimants.csv")

In [4]:
Claimants.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [13]:
Claimants.drop(["CASENUM"], inplace = True, axis=1)

In [14]:
Claimants.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [16]:
Claimants = Claimants.dropna()

In [17]:
X= Claimants.iloc[:, [1,2,3,4,5]]
Y= Claimants.iloc[:,0]

In [19]:
model=LogisticRegression(max_iter=300)
model.fit(X,Y)

LogisticRegression(max_iter=300)

In [20]:
#Save themodel to disk
dump(model, open('Logistic_Model.sav', 'wb'))

In [21]:
# Load the model from disk
loaded_model = load(open('Logistic_Model.sav', 'rb'))
result = loaded_model.score(X,Y)
print(result)

0.708029197080292